@import "tailwindcss";
@import "cloudinary-video-player/cld-video-player.min.css";


:root {
  --font-inter: var(--font-inter);
  --font-space: var(--font-space);
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary : #6a7cff;
  --color-secondary : #ec6cb9; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth !important;
}

* {
  scroll-behavior: smooth !important;
}

.font-heading {
  font-family: var(--font-space), system-ui, sans-serif;
}

.font-body {
  font-family: var(--font-inter), system-ui, sans-serif;
}